@font-face {
  font-family: Vazir;
  src: url("./../fonts/Vazir-Black-UI.eot") format("eot"),
    url("./../fonts/Vazir-Black-UI.woff") format("woff"),
    url("./../fonts/Vazir-Black-UI.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a {
  color: inherit;
}
body {
  font-family: Vazir;
  position: relative;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dfdede;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}

/* banner top */
.baner-header {
  height: 60px;
  width: 100%;
}
.baner-header img {
  height: 100%;
  object-fit: cover;
}

.header-top {
  padding: 12px 16px;
}
.header-top .icon-header{
  border: none;
  background: transparent;
  font-size: 20px;
}
.header-top .icon-header:last-child{
  font-size: 25px;
}
.search-top-box {
  /* width: 600px; */
  height: 45px;
  border-radius: 8px;
  background: #f1f2f4;
  /* margin-right: -100px; */
  padding-right: 64px;
  position: relative;
  font-size: 14px;
  color: #9e9fb1;
  line-height: 44px;
  position: relative;
}
.search-top-box::before {
  font-family: FontAwesome;
  content: "\f002";
  font: normal normal normal 20px/1 FontAwesome;
  position: absolute;
  top: 11px;
  right: 20px;
  /* color: #9e9fb1; */
}
.search-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 430px;
  background-color: #fff;
  left: 0;
  z-index: 9999999;
  border-radius: 10px;
  border: 1px solid #e0e0e6;
  overflow: hidden;
  padding: 2px 20px;
  display: none;
  transition: all 1s;
  overflow-y: auto;
}
.search-box.active {
  display: block;
}
.search-input-top {
  border: none;
  width: 100%;
  border-bottom: 1px solid #19bfd3;
  position: relative;
  padding-right: 38px;
}
/* .search-input-top */
.search-box::before {
  content: "\f002";
  font: normal normal normal 20px/1 FontAwesome;
  font-family: FontAwesome;
  position: absolute;
  top: 13px;
  right: 23px;
  /* color: #9e9fb1; */
  z-index: 999;
}
.search-box img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
.search-box h6 {
  margin-top: 20px;
  color: #8f5c87;
}
.search-box h6 i {
  margin-left: 20px;
  font-size: 20px;
  color: #9e9fb1;
}
.keywords-search li {
  color: #8f5c87;
  border: 1px solid #e0e0e6;
  display: inline-block;
  border-radius: 30px;
  padding: 0 14px;
}
.keywords-search i {
  color: #9e9fb1;
  margin-right: 15px;
  font-size: 20px;
}

.icon-top {
  line-height: 42px;
}

.btn-box-header {
  display: flex;
  align-items: center;
}
.login-btn-header {
  width: 133px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  align-items: center;
}
.login-btn-header .fa {
  font-size: 21px;
  color: #3f4064;
}

.seperator-login-basket {
  border-right: 1px solid #ccc;
  width: 2px;
  height: 30px;
  margin: 0 10px;
  color: #3f4064;
}
.basket-btn-header .fa {
  font-size: 23px;
  color: #3f4064;
}
.navbar-top {
  margin-top: 10px;
  font-size: 14px;
}

.menu-top {
  display: flex;
  align-items: center;
  color: #8f5c87;
}
.menu-top li {
  list-style: none;
  margin-left: 18px;
  cursor: pointer;
}
.menu-top i {
  color: #9e9fb1;
  margin-left: 3px;
}
.seperator-menu {
  border-right: 1px solid #ccc;
  width: 2px;
  height: 15px;
  margin-right: 12px;
  color: #3f4064;
}
.location-select-btn {
  color: #8f5c87;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 9px;
  cursor: pointer;
}
.location-select-btn i {
  margin-left: 5px;
  color: #9e9fb1;
  font-size: 20px;
}
.cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
.cover.active {
  display: block;
}
.cover-under-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 170px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
.cover-under-menu.active {
  display: block;
}
.category-menu {
  padding: 7px 0px;
  position: relative;
}
.category-menu-list {
  position: absolute;
  /* left: 27px;
  right: 27px; */
  height: 400px;
  top: 31px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 9999;
  width: 1280px;
  display: none;
  border-top: 1px solid #21252928;
}
.category-menu-list .sidebar-category-menu {
  width: 15%;
  min-height: 400px;
}
.category-menu-list .sidebar-category-menu ul {
  width: 100%;
  text-align: right;
  overflow-y: auto;
  height: 400px;
  direction: ltr;
}
.category-menu-list .sidebar-category-menu ul li {
  list-style: none;
  padding: 13px;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: right;
}
.category-menu-list .sidebar-category-menu ul li:hover {
  background-color: rgb(241, 242, 244);
}

.category-menu-list .sidebar-category-menu ul li i {
  font-size: 30px;
  margin-left: 10px;
  color: #9e9fb1;
}

.content-category-menu {
  width: 85%;
  min-height: 400px;
  padding: 20px 20px;
  overflow-y: auto;
  direction: ltr;
}
.content-category-menu .title-categoty-all {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.content-category-menu .title-categoty-all i {
  font-size: 20px;
  /* color: #9e9fb1; */
  margin-right: 10px;
}
.content-category-menu ul {
  width: 25%;
  margin-top: 20px;
}
.content-category-menu ul li {
  list-style: none;
  text-align: right;
  font-size: 13px;
  padding: 5px;
  color: #9e9fb1;
}
.content-category-menu ul li:first-child {
  font-size: 14px;
  position: relative;
  padding: 6px 15px;
  color: #212529;
}
.content-category-menu ul li:first-child::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ee384e;
  position: absolute;
  top: 9px;
  right: 5px;
}

/* Start Slider Style*/
.slider {
  width: 100%;
  height: auto;
  margin-top: 230px;
}
.slider img {
  object-fit: cover;
  max-width: 100%;
  height: 300px;
}
.owl-nav {
  position: absolute;
  top: 80%;
  right: 20px;
  width: 141px;
  height: 50px;
  display: flex;
  transition: all 0.3s;
  opacity: 0;
}
.owl-nav.active {
  opacity: 1;
}
.owl-nav button {
  width: 45px;
  height: 45px;
  background-color: #fff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  font-size: 18px !important;
}
.owl-dots {
  position: absolute;
  top: 94%;
  width: 100px;
  right: 50%;
  left: 50%;
}

.owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background: #0000009f !important;
  border-radius: 50%;
  margin: 0 5px;
  display: block;
}
.owl-dots .owl-dot.active span {
  background-color: #fff !important;
  width: 15px;
  transition: all 0.4s;
  border-radius: 5px;
}
/* end Slider Style*/
/* start services Style*/
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
}
.services .servises-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services .servises-item span {
  display: block;
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
}
.services .servises-item img {
  width: 50px;
  margin: 0 auto;
}
.services .servises-item .more {
  background-color: #f1f2f4;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* end services Style*/
/* start Amazing offer Style*/
.amazing-offer {
  padding: 12px 20px;
}
.amazing-offer-slider {
  background-color: rgb(239, 59, 81);
  border-radius: 10px;
  padding: 20px 2px;
}
.first_slide {
  background-color: transparent;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.first_slide img {
  /* width: 80px; */
  margin: 5px auto;
}
.product_items {
  width: 100%;
  background-color: #fff;
  height: 285px;
}
.product_items .price_discount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #47476a;
}
.product_items .discount {
  font-size: 12px;
  text-decoration: line-through;
  padding-left: 35px;
  color: #c3c3ce;
  padding-top: 15px;
}
.product_items .badage {
  padding: 3px 8px;
  background-color: #ef394e;
  border-radius: 12px;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}
.product_items .scroll-discount {
  padding: 2px 21px;
  margin-top: 10px;
}
.product_items .scroll-discount .bg-scroll {
  display: block;
  background: #ccc;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.product_items .scroll-discount .front-scroll {
  display: block;
  background: #ef394e;
  width: 56%;
  height: 4px;
  border-radius: 2px;
  top: 0;
  position: absolute;
  left: 0;
}
.product_items img {
  max-width: 100%;
  height: auto;
}
.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccccccab;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px;
  font-weight: 900;
  color: #3f4064;
}

.swiper {
  width: 100%;
  height: 250px;
}

/* end Amazing offer Style*/

/* start ads Style*/

.ads {
  padding: 12px 20px;
}
/* .ads .row  div{
  overflow: hidden;
} */
.ads img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
/* end ads Style*/

/* start categories Style*/
.categories {
  margin-top: 40px;
}
.categories h2 {
  font-size: 20px;
  text-align: center;
}
.category_wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
.category_wraper .category-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  text-align: center;
  font-size: 13px;
  margin: 20px 10px;
}
.category_wraper .category-item {
}
/* end categories Style*/

/* start Proposal Style*/
.Proposal {
  margin-top: 40px;
  padding: 12px 20px;
  overflow: hidden;
}
.Proposal h2 {
  font-size: 20px;
  text-align: center;
  margin: 25px 0;
}
.swiper_proposal {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.proposal_item {
  padding: 25px 3px;
}
.proposal_item .proposal_img {
  width: 90px;
  margin: 0 auto;
  overflow: hidden;
  background: #f1f2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 90px;
}
.proposal_item img {
  width: 61%;
  height: auto;
}
.proposal-wraper .proposal_item {
  display: flex;
  flex-direction: column;
  width: 180px;
  text-align: center;
  font-size: 13px;
  padding: 15px 0px;
}
.swiper_proposal .swiper-slide {
  border-left: 1px solid #ccc;
}
.swiper_proposal .swiper-slide:last-child {
  border-left: none;
}
.proposal-wraper .swiper-slide {
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* end Proposal Style*/

/* start Brand Style*/
.brand {
  margin-top: 40px;
  padding: 12px 20px;
  overflow: hidden;
  position: relative;
}
.brand h2 {
  font-size: 20px;
  text-align: center;
  margin: 25px 0;
}
.brand .brand_wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 19px;
  overflow: hidden;
}
.brand .brand-item {
  width: 100%;
  height: auto;
}
.brand .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-right: 1px solid #ccc;
}
.brand .swiper-slide img {
  width: 100px;
}
.brand .swiper-slide .brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand .swiper-button-prev {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccccccab;
  margin-right: 25px;
}
.brand .swiper-button-next {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccccccab;
  margin-left: 25px;
}
/* end Brand Style*/

/* Start Footer Style*/
footer .footer-wrapper {
  padding: 18px;
  width: 100%;
  border-top: 1px solid #ccc;
}
footer .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .desc .slide-to-top {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .desc .fa-angle-up {
  font-size: 15px;
}
footer .footer-menu{
  margin-top: 50px;
}
footer .servises > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
}
footer .servises div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  font-size: 13px;
}
footer .services img {
  width: 100;
  height: auto;
}
footer .footer-menu h2 {
  text-align: right;
  font-size: 15px;
  font-weight: 900;
  color: #3f4064;
}
footer .footer-menu ul li {
  text-align: right;
  list-style: none;
  margin: 13px 0;
  font-size: 14px;
  color: #767790;
}
footer .footer-menu .socials{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-menu .socials .fa{
font-size: 35px;
}
footer .footer-menu .send-discount{
  background-color: #F1F2F4;
  padding: 10px 15px;
  border-radius: 10px;
  width: 80%;
  border: none;

}
footer .footer-menu .btn-send-discount{
  padding: 10px 15px;
  width: 18%;
  border: none;
  border-radius: 10px;

}
footer .digi-app{
  background-color: #3C4B6D;
  border-radius: 10px;
  padding: 0px 8px;
  margin: 0;
  color: #fff;
}
footer .digi-app .myckets img{
  width: 150px;
  height: auto;
  margin-left: 20px;
}
footer .digi-app .more span:first-child{
  background: #F1F2F4;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 10px;
}
footer .check h2{
  text-align: right;
  font-size: 15px;
  font-weight: 900;
  color: #3f4064;
}
footer .check p{
  text-align: right;
  font-size: 14px;
  color: #767790;
  margin-top: 20px;
}
footer .check a{
  text-align: right;
  font-size: 14px;
  color: #767790;
}
footer .check .check-img{
  padding: 33px 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
footer .check .check-img img{
  width: 70px;
  height: auto;
}
/* end Footer Style*/

/* .category-menu-list .content-category-menu ul {
  width: 100%;
  text-align: right;
  overflow-y: auto;
  height: 400px;
  direction: ltr;

} */
@media screen and (min-width: 1022px) {
  .slider img {
    height: 400px;
  }
}
@media screen and (max-width: 1022px)  {
  .slider{
    margin-top: 229px;
  }
}
