@import "../css/index/header.css";
@import "../css/index/footer.css";
@import "../css/index/Slider.css";
@import "../css/index/services.css";
@import "../css/index/Amazing-offer.css";
@import "../css/index/categories.css";
@import "../css/index/Proposal.css";
@import "../css/index/brand.css";

/* start ads Style*/
.ads {
  padding: 12px 20px;
}
.ads img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
/* end ads Style*/

