
@import "./variables.css";
@font-face {
  font-family: Vazir;
  src: url("./../../fonts/Vazir-Black-UI.eot") format("eot"),
    url("./../../fonts/Vazir-Black-UI.woff") format("woff"),
    url("./../../fonts/Vazir-Black-UI.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a {
  color: inherit;
}
body {
  font-family: Vazir;
  position: relative;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dfdede;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}

/* banner top */
.baner-header {
  height: 60px;
  width: 100%;
}
.baner-header img {
  height: 100%;
  object-fit: cover;
}

.header-top {
  padding: 12px 16px;
}
.header-top .icon-header{
  border: none;
  background: transparent;
  font-size: 20px;
}
.header-top .icon-header:last-child{
  font-size: 25px;
}
.search-top-box {
  /* width: 600px; */
  height: 45px;
  border-radius: 8px;
  background: #f1f2f4;
  /* margin-right: -100px; */
  padding-right: 64px;
  position: relative;
  font-size: 14px;
  color: #9e9fb1;
  line-height: 44px;
  position: relative;
}
.search-top-box::before {
  font-family: FontAwesome;
  content: "\f002";
  font: normal normal normal 20px/1 FontAwesome;
  position: absolute;
  top: 11px;
  right: 20px;
  /* color: #9e9fb1; */
}
.search-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 430px;
  background-color: #fff;
  left: 0;
  z-index: 9999999;
  border-radius: 10px;
  border: 1px solid #e0e0e6;
  overflow: hidden;
  padding: 2px 20px;
  display: none;
  transition: all 1s;
  overflow-y: auto;
}
.search-box.active {
  display: block;
}
.search-input-top {
  border: none;
  width: 100%;
  border-bottom: 1px solid #19bfd3;
  position: relative;
  padding-right: 38px;
}
/* .search-input-top */
.search-box::before {
  content: "\f002";
  font: normal normal normal 20px/1 FontAwesome;
  font-family: FontAwesome;
  position: absolute;
  top: 13px;
  right: 23px;
  /* color: #9e9fb1; */
  z-index: 999;
}
.search-box img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
.search-box h6 {
  margin-top: 20px;
  color: #8f5c87;
}
.search-box h6 i {
  margin-left: 20px;
  font-size: 20px;
  color: #9e9fb1;
}
.keywords-search li {
  color: #8f5c87;
  border: 1px solid #e0e0e6;
  display: inline-block;
  border-radius: 30px;
  padding: 0 14px;
}
.keywords-search i {
  color: #9e9fb1;
  margin-right: 15px;
  font-size: 20px;
}

.icon-top {
  line-height: 42px;
}

.btn-box-header {
  display: flex;
  align-items: center;
}
.login-btn-header {
  width: 133px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  align-items: center;
}
.login-btn-header .fa {
  font-size: 21px;
  color: #3f4064;
}

.seperator-login-basket {
  border-right: 1px solid #ccc;
  width: 2px;
  height: 30px;
  margin: 0 10px;
  color: #3f4064;
}
.basket-btn-header .fa {
  font-size: 23px;
  color: #3f4064;
}
.navbar-top {
  margin-top: 10px;
  font-size: 14px;
}

.menu-top {
  display: flex;
  align-items: center;
  color: #8f5c87;
}
.menu-top li {
  list-style: none;
  margin-left: 18px;
  cursor: pointer;
}
.menu-top i {
  color: #9e9fb1;
  margin-left: 3px;
}
.seperator-menu {
  border-right: 1px solid #ccc;
  width: 2px;
  height: 15px;
  margin-right: 12px;
  color: #3f4064;
}
.location-select-btn {
  color: #8f5c87;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 9px;
  cursor: pointer;
}
.location-select-btn i {
  margin-left: 5px;
  color: #9e9fb1;
  font-size: 20px;
}
.cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
.cover.active {
  display: block;
}
.cover-under-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 170px;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}
.cover-under-menu.active {
  display: block;
}
.category-menu {
  padding: 7px 0px;
  position: relative;
}
.category-menu-list {
  position: absolute;
  /* left: 27px;
  right: 27px; */
  height: 400px;
  top: 31px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 9999;
  width: 1280px;
  display: none;
  border-top: 1px solid #21252928;
}
.category-menu-list .sidebar-category-menu {
  width: 15%;
  min-height: 400px;
}
.category-menu-list .sidebar-category-menu ul {
  width: 100%;
  text-align: right;
  overflow-y: auto;
  height: 400px;
  direction: ltr;
}
.category-menu-list .sidebar-category-menu ul li {
  list-style: none;
  padding: 13px;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: right;
}
.category-menu-list .sidebar-category-menu ul li:hover {
  background-color: rgb(241, 242, 244);
}

.category-menu-list .sidebar-category-menu ul li i {
  font-size: 30px;
  margin-left: 10px;
  color: #9e9fb1;
}

.content-category-menu {
  width: 85%;
  min-height: 400px;
  padding: 20px 20px;
  overflow-y: auto;
  direction: ltr;
}
.content-category-menu .title-categoty-all {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.content-category-menu .title-categoty-all i {
  font-size: 20px;
  /* color: #9e9fb1; */
  margin-right: 10px;
}
.content-category-menu ul {
  width: 25%;
  margin-top: 20px;
}
.content-category-menu ul li {
  list-style: none;
  text-align: right;
  font-size: 13px;
  padding: 5px;
  color: #9e9fb1;
}
.content-category-menu ul li:first-child {
  font-size: 14px;
  position: relative;
  padding: 6px 15px;
  color: #212529;
}
.content-category-menu ul li:first-child::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ee384e;
  position: absolute;
  top: 9px;
  right: 5px;
}